<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/static/Style.css}">
    <title>Customer Registration</title>
    <style>
        .error {
            color: rgb(255, 0, 0);
        }

        .div1 {
            position: absolute;
            left: 42%;
        }
    </style>
</head>

<body background="color:rgb(202, 185, 218)" bottommargin="10px">
    <div class="div1">
        <form th:action="@{/processForm}" th:object="${customer}" method="POST">

            Fist Name : <input type="text" th:field="*{firstName}"> <br> <br>
            Last Name : <input type="text" th:field="*{lastName}">

            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
            <br>
            
            CustomerID: <input type="text" th:field="*{customerId}">
            <span th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}" class="error"></span>
            
            <br>
            Postal Code: <input type="text" th:field="*{postalCode}">
            <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
            
            <br>
            <br>
            <input type="submit" value="submit">

        </form>

    </div>
</body>

</html>