<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in Page</title>
  <link rel="stylesheet" th:href="@{/loginStyle.css}">
</head>

<body>
  <div class="signin-container">
  
    <!-- left Content Panel -->
    <div class="signin-form">
      <h2>Sign in</h2>
      <form th:action="@{/signin}" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign in</button>
      </form>
 
    </div>

    <!-- Sign in Form -->
    <div class="left-content green-panel">
      <h1>Welcome back!</h1>
      <p>Welcome back! We are so happy to have you here. It's great to see you again. We hope you had a safe and
        enjoyable time away.</p>
      <a th:href="@{/signup}" class="cta-link">No account yet? Sign up.</a>
    </div>



  </div>
</body>

</html>