<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" th:href="@{/signupStyle.css}">
</head>

<body>

  <div class="container">
  
    <!-- Left Panel -->
		<div class="left-panel">
			<h1>Come join us!</h1>
			<p>
			We are so excited to have you here. If you haven't already,create an 
			account to get access to exclusive offers,rewards,and discounts.
			</p>
			<a th:href="@{/login}" class="signin-link">Already have an account? Sign in.</a>
		</div>

	
	<!-- Right Panel -->
		<div class="right-panel">
			<h2>Sign up</h2>
			<form th:action="@{/processSignupForm}" th:object="${customer}"th:method="POST">
			
				<input type="text" placeholder="Username" th:field="*{userName}" required>
				<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"class="error"></span>
				
				<input type="email" placeholder="Email" th:field="*{email}" required>
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"class="error"></span> 
				
				<input type="text"placeholder="Mobile Number" th:field="*{mobileNumber}"> 
				<span th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"class="error"></span>
				 
				<input type="password" placeholder="password"th:field="*{password}" required> 
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"class="error"></span>
				
				<button type="submit">Sign up</button>
				
			</form>
			
			<p class="signin-with">or sign in with</p>
			<div class="social-icons">
				<a th:href="@{/signin/facebook}" class="social-icon fb">f</a> 
				<a th:href="@{/signin/x}" class="social-icon X">x</a> 
				<a th:href="@{/signin/linkedin}" class="social-icon linkedin">in</a>
			</div>
		</div>

	</div>
</body>

</html>